body {
    background-color: white;
    font-family: monospace;
    font-size: 16px;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    top: 10px;
}

nav a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

h1 {
    margin-bottom: 30px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 12px;
}

a {
    color: black;
}

header{
    margin-bottom: 20px;

}

